# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/